:root {
    --border-color: rgb(182, 230, 252);    
    --border-width: 2px;
    --base-spacing: 1rem;
    --stack-spacing: .5rem;
    hyphens: auto;
}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

body {
    background: white;
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0;
}


#content {
    padding: var(--base-spacing);
}
/* no specificity hack */
*[id="content"] * {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.recipe {

}
.recipe__title {
    margin-bottom: var(--stack-spacing);
}
.recipe__description * + *,
.recipe__instructions * + * {
    margin-top: var(--stack-spacing);
}
.recipe__description > * > * * + *,
.recipe__instructions > * > * * + * {
    margin-top: 0;
}
.recipe__tags {
    margin-top: var(--stack-spacing);
    font-style: italic;
}
.recipe__yields {
    margin-top: var(--stack-spacing);
    font-weight: bold;
}

.recipe__ingredients {
    column-width: 15rem;
    column-gap: 2rem;
}
.recipe__ingredients > * {
    break-inside: avoid;
}
.recipe__ingredients > :only-child {
    break-inside: auto;
}
.recipe__ingredients > *, 
.recipe__ingredients > * > :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: var(--stack-spacing);
}
.recipe__ingredients > :last-child {
    margin-bottom: 0;
}

.markdown > * + *, .folder > * + *  {
    margin-top: var(--stack-spacing) !important;
}


.folder {
    padding: 0;
    list-style: none;
}
.folder li a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.folder li + li a {
    margin-top: .5rem;
}

@media screen {
    nav {
        display: flex;
        border-bottom: var(--border-width) solid var(--border-color);
        padding: .5rem var(--base-spacing);
        justify-content: space-between;
    }
    nav:empty {
        display: none;
    }
    hr {
        margin: 0 calc(-1 * var(--base-spacing));
        padding: 0 var(--base-spacing);
        box-sizing: content-box;
    }
    .recipe__ingredients, .recipe__instructions {
        border-top: var(--border-width) solid var(--border-color);
        margin: var(--stack-spacing) calc(-1 * var(--base-spacing)) 0;
        padding: var(--stack-spacing) var(--base-spacing) 0;
        box-sizing: content-box;
    }
}
@media screen and (min-width: 40rem) {
    :root {
        --stack-spacing: 1rem;
    }
}
@media screen and (min-width: 50rem) {
    :root {
        --base-spacing: 1.5rem;
    }
    html, body {
        min-height: 100%;
    }
    body {
        margin: .5rem;
        background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
    }
    #container {
        margin: 0 auto;
        max-width: 60rem;
        background: white;
        border: var(--border-width) solid var(--border-color);
        box-shadow: 0 0 20px hsl(0deg 0% 100% / 50%);
    }
}

@media print {
    :root {
        --base-spacing: .5rem;
        --stack-spacing: .5rem;
    }
    body {
        background: white;
        font-family: serif;
    }
    h1, h2, h3 {
        font-family: Georgia, serif;
    }
    nav {
        display: none;
    }
    .recipe__ingredients, .recipe__instructions {
        margin-top: var(--stack-spacing);
    }
    #content p + p {
        text-indent: 1rem;
    }
    #content {
        padding: 2rem;
    }
    #content hr {
        margin-top: 1rem !important;
        border: 0;
    }
    #content > h1 {
        column-span: all;
        margin-bottom: 1rem !important;
    }
    #content > h1 + * {
        margin-top: 0 !important;
    }
    .folder li {
        break-inside: avoid;
    }
}

