{% extends "base.html" %}

{% block page_title %}{% if path == "" %}recipemd-serve{% endif %}{% endblock %}

{% block nav %}
    {% if path != "" %}
        <a href="../">Up</a>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="folder">
        {% for path in child_folders %}
            <li>
                <a href="{{ path }}">{{ path }}</a>
            </li>
        {% endfor %}
        {% for (path, title) in child_recipes %}
            <li>
                <a href="{{ path }}">{{ title }}</a>
            </li>
        {% endfor %}
        {% for path in child_files %}
            <li>
                <a href="{{ path }}">{{ path }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

