{% extends "base.html" %}

{% block title %}
    ""
{% endblock %}

{% block nav %}
    {% if path != "" %}
        <a href="../">Up</a>
    {% endif %}
{% endblock %}

{% block body %}
    <ul id="folder">
        {% for child_path in child_paths %}
            <li>
                <a href="{{ child_path }}">
                    <header>{{ child_path }}</header>
                    <aside>{{ child_path|get_recipe_title(path) }}</aside>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

