{% extends "content.html" %}

{% block page_title %}
    {{ recipe.title }}
{% endblock %}

{% block nav %}
    {{ super() }}
    <form method="GET" action="">
        <label>
            Yield:
            <input type="text" id="yield" name="yield" list="yield_completions" value="{{ request.args.get('yield', '1') }}">
        </label>
        <button type="submit">Scale</button>
    </form>
    <datalist id="yield_completions"></datalist>
    <script>
        const units = {{ units|tojson }}
    </script>
{% endblock %}


{% block content %}

    {% if errors %}
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {{ recipe_markdown|markdown_to_cleaned_html }}

{% endblock %}

