{% extends "content.html" %}

{% block page_title %}
    {{ recipe.title }}
{% endblock %}

{% block nav %}
    {{ super() }}
    <form method="GET" action="">
        <label>
            Yield:
            <input type="text" id="yield" name="yield" list="yield_completions" value="{{ request.args.get('yield', '1') }}">
        </label>
        <button type="submit">Scale</button>
    </form>
    <datalist id="yield_completions"></datalist>
    <script>
        const units = {{ units|tojson }}
    </script>
{% endblock %}


{% block content %}

    {% if errors %}
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="recipe">
        <h1 class="recipe__title">{{ recipe.title|markdown_to_cleaned_html }}</h1>

        {% if recipe.description %}
            <section class="recipe__description">
                {{ recipe.description|markdown_to_cleaned_html }}
            </section>
        {% endif %}

        {% if recipe.tags %}
            <section class="recipe__tags">
                {{ tags|markdown_to_cleaned_html }}
            </section>
        {% endif %}

        {% if recipe.yields %}
            <section class="recipe__yields">
                {{ yields|markdown_to_cleaned_html }}
            </section>
        {% endif %}

        <section class="recipe__ingredients">
            {{ serialize_ingredients(recipe.ingredients) }}
            {{ serialize_ingredient_groups(recipe.ingredient_groups, 2) }}
        </section>

        {% if recipe.instructions %}
            <section class="recipe__instructions">
                {{ recipe.instructions|markdown_to_cleaned_html }}
            </section>
        {% endif %}
    </div>


{% endblock %}

{% macro serialize_ingredients(ingredients) %}
    {% if ingredients %}
        {{ ingredients|serialize_ingredients|markdown_to_cleaned_html }}
    {% endif %}
{% endmacro %}

{% macro serialize_ingredient_groups(ingredient_groups, level) %}
    {% for ingredient_group in ingredient_groups %}
        <div>
            <h{{level}}>{{ingredient_group.title}}</h{{level}}>
            {{ serialize_ingredients(ingredient_group.ingredients) }}
        </div>
        {{ serialize_ingredient_groups(ingredient_group.ingredient_groups, level+1) }}
    {% endfor %}
{% endmacro %}